{% import 'macros.html' as macros %}

<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <script src="static/js/signup.js"></script>

</head>
<body>
<form name="SignupForm" style="padding-top: 50px;" role="form" method="POST">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Sign up</h3>
            {{ macros.render_field(form.email, label_visible=true, placeholder='Email', type='email') }}
            <small id="passwordHelpBlock" class="form-text text-muted">Your email must be in the form name@example.com</small>
            {{ macros.render_field(form.password, label_visible=true, placeholder='Password', type='password') }}
            {{ macros.render_field(form.confirm_password, label_visible=true, placeholder='Confirm Password', type='password') }}
            <button type="submit" class="btn btn-success" id="login-submit-button">Submit</button>
        </div>
        <div class="card-footer text-muted text-center">
          Already have an account? <a href="/login">Log in</a>
        </div>
      </div>
    </div>
  </div>
</form>
</body>
</html>